.header-container {
    height: 75px;
    background-color: #43E895;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

#close{
    height: 15px;
    width: 10px;
    display: inline;
}

#map-icon{
    height: 25px;
    width: 25px;
    display: inline;
}


@media only screen and (min-width: 768px) {
    .header-container {
        height: 75px;
        background-color: #43E895;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }

    #map-icon {
        height: 25px;
        width: 25px;
        display: inline;
    }

    #close {
        height: 15px;
        width: 10px;
        display: inline;
    }

    .header-text {
        color: #FFFFFF;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }

}