.header-container {
    height: 75px;
    background-color: #43E895;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
/* 
img#close{
    height: 20px;
    width: 20px;
    left: 0;
} */


@media only screen and (min-width: 768px) {
    /* img{
        display: none;
    } */
    .header-container {
        height: 75px;
        background-color: #43E895;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .header-text {
        color: #FFFFFF;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }

}