.RD-full {
    color: #FFFFFF;
    height: 180px;
    width: 360px;
    vertical-align: text-bottom;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin: 10px;
}

.RD-header {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.RD-sub {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.RD-header,
.RD-sub {
    margin-left: 12px;
    z-index: 15;
}

.RD-cover {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.612));
}